@import "bootstrap-sprockets";
@import "bootstrap";

#bootstrap-override {
  font-family: 'Quicksand', sans-serif;
  font-weight: 900;
  color: #998da0 !important;
  background-color: transparent;
}

h1, h2, h3, h4 { font-weight: 900; }

.table-active {
  background-color: gray;
  color: white;
}

.team-name {
   display: inline;
}

.admin-buttons {
  float: right;
}

#admin {
  font-size: 15px;
  vertical-align: 50% !important;
}

nav {
  background-color: #fe5f55;
  margin-bottom: 50px;
  font-family: 'Quicksand', sans-serif, 700;
  font-weight: 200;
}

ul.nav li a, .container .navbar-header a.site-logo   {
    color: #eef5db;
}

ul.nav li a:hover , .container .navbar-header a.site-logo:hover {
    color: #333745;
    background-color: transparent;
}

.site-logo {
  font-size: 35px;
  // font-family: 'Abel', sans-serif;
  // font-family: 'Yanone Kaffeesatz', sans-serif;

}

.season-title {
  float:right;
  font-size: 20px;
  color: white;
  background-color: #96CDFF;
  border: 5px solid #96CDFF;
  border-radius: 5px;
}

.full {
    background: url('http://wallpapercave.com/wp/1QlzHPH.jpg') no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
}


.login .row .col-md-12 h1.tagline {
  size: 80px !important;
  color: white;
}

.login {
  padding-top: 100px;
  color: white;
}

#site-name {
  font-weight: 200;
  font-size: 60px;
}
